<div class="row">
    {{#each data.query.results.item}}
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <!-- <img src="app/assets/images/download.png" alt="..."> -->
      <div class="caption">
        <h3 class="newsTitle">{{title}}</h3>
        <div class="scroll-pane">
        {{#newdescription description}}{{/newdescription}}
        </div>
        <p><a href="{{link}}" class="btn btn-primary" role="button" target="_blank">View More</a> </p>
      </div>
    </div>
    </div>
    {{/each}}

  
</div>



